
.edit-row{
    border: none!important;
    outline: none!important;
    background-color: rgba(0, 0, 0, 0)!important;
}
.edit-btn{
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
}
.delete-row{
    border: none!important;
    outline: none!important;
    background-color: rgba(0, 0, 0, 0)!important;
}
.delete-btn{
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
}
.edit-btn:hover,
.edit-btn:focus{
    background-color: var(--background-color);
    border-color: yellow;
    color: yellow;
}
.delete-btn:hover,
.delete-btn:focus{
    background-color: var(--background-color);
    border-color: var(--expense-primary-color);
    color: var(--expense-primary-color);
}